.content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 35px;
  }
  
  .intro {
    /* flex: 1 1 50%; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-right: 40px;
    color: #ff7f50;
  
  }
  .intro :hover{
    color: black;
  }
  
  .intro-heading {
    font-size: 40px;
    color: black;
    margin-bottom: 20px;
  }
  
  .typewriter {
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .typewriter h2 {
    font-size: 24px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(30, end), blink-caret 0.5s step-end infinite;
  }
  
  .gif-container {
    /* flex: 1 1 50%; */
    display: flex;
    /* align-items: center; */
    justify-content:flex-end;
  }
  
  .gif-container img {
    max-width: 100%;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }
  
  @media (max-width: 768px) {
    .content {
      padding: 30px;
    }
  
    .intro {
      padding-right: 0;
    }
  
    .gif-container {
      margin-top: 30px;
    }
  
    .intro-heading {
      font-size: 30px;
    }
  
    .typewriter h2 {
      font-size: 20px;
    }
  }
  
  @media (max-width: 480px) {
    .content {
      flex-direction: column;
      align-items: stretch;
      padding: 20px;
    }
  
    .intro {
      padding: 0;
      text-align: center;
      order: 2;
    }
  
    .intro-heading {
      font-size: 24px;
      margin-bottom: 10px;
    }
  
    .typewriter {
      margin-bottom: 20px;
    }
  
    .gif-container {
      order: 1;
    }
  }
  .visible {
    animation: typing 3s steps(30, end), blink-caret 0.5s step-end infinite;
  }
  
  .hidden {
    visibility: hidden;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    from,
    to {
      border-right-color: transparent;
    }
    50% {
      border-right-color: orange;
    }
  }
  .hidden {
    display: none;
  }
  
  .typewriter h2 {
    font-size: 24px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(30, end), blink-caret 0.5s step-end infinite;
  }
  
  .typewriter h2.hidden {
    animation: none;
  }
  @keyframes wave-hand {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-15deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(15deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  .intro-heading .emoji {
    display: inline-block;
    animation: wave-hand 2s infinite;
  }
  